header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: grey;
}

header h1{
    margin-left: 10px;
    font-size: 25px;
    color: white;
    left: 10px;
}

.userBar{
    display: grid;
    grid-template-columns: 2fr 2fr 5fr;
}

.userCircle{
    display: inline-flex;
    justify-content: center;
  height: 40px;
  width: 40px;
  margin-top: 5px;
  background-color: #bbb;
  border-radius: 50%;
}

.userCircle:hover #userContent{
    display: block;
}

#userContent{
    display: none;
    margin-top: 40px;
    margin-left: 0px;
    border: 1px solid black;
    border-radius: 10px;
    background: grey;
    position: fixed;
    height: 200px;
    width: 120px;
    z-index: 101;
}

.userIcon{
    margin-top: 20px;
}

.userTitle{
    margin-top: 12px;
    font-size: 20px;
    font-weight: bold;
}

h2 {
    margin-left: 200px;
    display: inline;
}

#container{
    display: grid;
    grid-template-columns: 2fr 5fr;
    
}
nav a {
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;

}
nav{
    margin-top: 10px;
}
nav a:link, a:visited{
    color: black;
    text-decoration: none;
}


body{
    margin: 0;
}
table{
    margin-left: 150px;
    margin-top: 25px;
}
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }

.lables{
    padding: 20px;
}

.addButton{
    margin-left: 400px;
    margin-top: 20px;
    width: 25px;
    height: 25px;
    left: 50px;
}

.closeButton{
    position: absolute;
    right: 10px;
    top: 10px;
}

.submitButton{
    width: 50px;
    height: 25px;
}

.deleteButton{
    width: 50px;
    height: 25px;
}

#backdrop {
    background: rgba(0,0,0,.25);
    width: 100px;
    height: 100px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 15;
    top: 0
}

.window{
    border-radius: 10px;
    border: 1px solid black;
    background: white;
    height: 450px;
    width: 500px;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    position: fixed;
    margin: auto;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.test{
    border-radius: 10px;
    border: 1px solid black;
    background: white;
    height: 450px;
    width: 500px;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    position: fixed;
    margin: auto;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.window-inner{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
#bellbox{
    display: inline-flex;
}

#bellbox:hover #bellContent{
    display: block;

}

#bellContent{
    display: none;
    margin-top: 40px;
    margin-left: -50px;
    border: 1px solid black;
    border-radius: 10px;
    background: grey;
    position: fixed;
    height: 200px;
    width: 120px;
    z-index: 100;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    40% {
        transform: rotate(40deg);
    }
    80%{
        transform: rotate(-40deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  .animated {
    transform-origin: top center;
    animation: rotate 1s linear
  }

  .messageBox{
    display: none;
  }

  .messageBox:hover, messageBox:focus{
    display: block;
    width: 100px;
    height: 100px;
    background: blue;
  }

  .window-options-box{
    display: flex;
    justify-content: flex-end;

  }
  .window-options{
    margin: 20px;
    width: fit-content;
    height: fit-content;
  }

.bubble1{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background: white;
    animation: scale 10s linear 1s;

}

.bubble2{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background: white;
    animation: scale 10s linear 5s;

}

.bubble3{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background: white;
    animation: scale 10s linear 10s;

}

@keyframes scale {
    0% {
      transform: scale(0);  
    }
    20% {
        transform: scale(0.2);
        background: blueviolet;
      }
    40% {
        transform: scale(0.4);
        background: violet;
      }
    60% {
        transform: scale(0.6);
        background: greenyellow;
      }
    99% {
        transform: scale(0.99);
        background: green;
      }
    100% {
      transform: scale(1);
      background: white;

    }
  }


